html, body { position: fixed; height: 100%; width: 100%; }

#board {
  font-family: monospace;
  background-color: black;
  margin: 0;
  padding: 0;
  position: absolute;
}

#inputOptionBox {
  position: absolute;
  z-index: 100;
}

.fa {
  position: absolute;
}

/*
calculate polygon cartesian coordinates
http://www.mathopenref.com/coordpolycalc.html



iconSize = 16 px // (fontAwesome icon, size easily changed by adding size class!)
left = pos - iconSize/2
top = pos - iconSize/2
*/
/*#photo {
  left: -8px;
  top: -24px;
}
#audio {
  left: 11px;
  top: -14px;
}
#draw {
  left: 4px;
  top: 8px;
}
#video {
  left: -20px;
  top: 8px;
}
#text {
  left: -27px;
  top: -14px;
}*/

.bubble {
  position: absolute;
  background-color: #A269DB;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
  border-radius: 50%;
  background: radial-gradient(circle at 33% 33%, #5cabff, #000);
}

.bubble .header {
  text-align: center;
  padding: 2px;
  min-height: 20px;
}

.bubble .header:hover {
  color: white;
}

/*.bubble .header a{
    margin-left: auto;
    margin-right: auto;
}*/

.bubble .header a, .bubble .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.bubble .footer a {
  color: black;
  text-decoration: none;
}

.bubble .content {
  /*padding: 20px;*/
  /*height: 70px;*/
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
  overflow: hidden;
}

.bubble .footer {
  text-align: center;
  padding: 2px;
  margin-top: -10px;
  min-height: 20px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0px;
  min-width: 100%;
}

#trashcan {
  position: absolute;
  bottom: 2px;
  z-index:100;
}

.link-image {
  max-height: 20px;
  max-width: 20px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/*STOP PLAYING MUSIC BUTTON*/
.stopButton {
  margin-top: 1%;
  left: 5%;
  height: 5%;
  width: 5%;
  position: absolute;
  z-index: 100;
}

.playButton {
  margin-top: 1%;
  left:10%;
  height: 5%;
  width: 5%;
  position: absolute;
  z-index: 100;
}
