* {
  box-sizing: border-box;
}

#board {
  background-color: black;
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
}

#inputOptionBox {
  position: absolute;
  z-index: 100;
}

.fa {
  position: absolute;
}


/*
calculate polygon cartesian coordinates
http://www.mathopenref.com/coordpolycalc.html



iconSize = 16 px // (fontAwesome icon, size easily changed by adding size class!)
left = pos - iconSize/2
top = pos - iconSize/2
*/
/*#photo {
  left: -8px;
  top: -24px;
}
#audio {
  left: 11px;
  top: -14px;
}
#draw {
  left: 4px;
  top: 8px;
}
#video {
  left: -20px;
  top: 8px;
}
#text {
  left: -27px;
  top: -14px;
}*/


.bubble {
  position: absolute;
  background-color: white;
  opacity: 0.4;
  box-shadow: -2px 2px 5px white;
  overflow: hidden;
  border-radius: 50%;
  background: radial-gradient(circle at 33% 33%, white, #000);
}

.bubble .header {
  position: absolute;
  z-index: 200;
  width: 100%;
  text-align: center;
  padding: 4px;
  min-height: 20px;
}

.bubble .header a, .bubble .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.bubble .footer a {
  color: black;
  text-decoration: none;
}

.bubble .content {
  /*padding: 20px;*/
  /*height: 70px;*/
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
  overflow: hidden;
  color: black;
}

.bubble .footer {
  text-align: center;
  padding: 2px;
  margin-top: -10px;
  min-height: 20px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0px;
  min-width: 100%;
}

#trashcan {
  margin-top: 130%;
  margin-left: -40%;
  position: relative;
/*  bottom: 5px;*/
  z-index:1000;
/*  margin-top: 800px;*/
  /*height: 20px;*/
}

.logoTitle{
 margin-top: 135%;
/* margin-right: -10%;*/
 z-index:1000;
}

.puzzle {
  /*margin-top: 49%;
  margin-right: 50%;*/
  position: relative;
  z-index:1000;
}
.link-image {
  max-height: 20px;
  max-width: 20px;
  color: black;
  font-size: 16px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.copyright {
  /*margin-top: -3%;
  margin-left: 80%;*/
  position: relative;
  z-index:1000;
}

.board-footer {
  position: absolute;
  /*width : 100%;
  height: 0;*/
  z-index: 1000;
  margin-top: 380px;
 /*margin-bottom: 300px;*/
}

.bubble-image {
  opacity: 100%;
}
/*STOP PLAYING MUSIC BUTTON*/
/*.stopButton {
  margin-top: 1%;
  left: 5%;
  height: 5%;
  width: 5%;
  position: absolute;
  z-index: 100;
}

.playButton {
  margin-top: 1%;
  left:10%;
  height: 5%;
  width: 5%;
  position: absolute;
  z-index: 100;
}*/
