* {
  box-sizing: border-box;
}

#board {
  font-family: 'Dosis', 'Lato', sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
}

#inputOptionBox {
  position: absolute;
  z-index: 100;
}

.fa {
  position: absolute;
}

.bubble {
  position: absolute;
  background-color: white;
  opacity: 0.4;
  box-shadow: -2px 2px 5px white;
  overflow: hidden;
  border-radius: 50%;
  background: radial-gradient(circle at 33% 33%, white, #000);
  font-family: 'Dosis', 'Lato', sans-serif;
  color: black;
  font-weight: bold;
}

.bubble .header {
  position: absolute;
  z-index: 200;
  width: 100%;
  text-align: center;
  padding: 4px;
  min-height: 20px;
}

.bubble .header a, .bubble .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.bubble .footer a {
  color: black;
  text-decoration: none;
}

.bubble .content {
  /*padding: 20px;*/
  /*height: 70px;*/
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
  overflow: hidden;
  color: black;
}

.bubble .footer {
  text-align: center;
  padding: 2px;
  margin-top: -10px;
  min-height: 20px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0px;
  min-width: 100%;
}


.link-image {
  max-height: 20px;
  max-width: 20px;
  color: black;
  font-size: 16px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.puzzle {
  z-index: 101;
  position: absolute;
  top: 89%;
  left: 1%;
}

.copyright {
  z-index: 101;
  position: absolute;
  top: 95%;
  left: 1%;
}

#trashcan {
  z-index: 101;
  position: absolute;
  top: 90%;
  left: 92%;
}

h3 {
  font-family: 'Dosis', 'Lato', sans-serif;
  font-size: 20px;
  overflow: hidden;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 14px;
  text-align: center;
/*  margin-top: 550px;
  margin-left: -400px;*/
}

.logoTitle{
  z-index: 101;
  position: absolute;
  top: 93%;
  left: 1%;
}

.board-footer {
  position: absolute;
  width : 100%;
  height: 100%;
  margin-top: 200px;
  z-index: 100;
}

.bubble-image {
  opacity: 100%;
}

