.login {
  background-image: url("../images/facebook_60x60px.png");
  width: 60px;
  height: 60px;
}

.logout {
  background-image: url("../images/facebook_60x60px.png");
  width: 60px;
  height: 60px;
}
