#logoutButton {
  background-image: url("../images/gnome-logout.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index:100;
}

