.login {
  background-image: url("../images/facebook_60x60x.png");
  width: 150px;
  height: 150px;
}

.logout {
  background-image: url("../images/facebook_60x60x.png");
  width: 150px;
  height: 150px;
}
