<!DOCTYPE html>
<html>
  <head>
    <title>Mind Map</title>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../css/board.css" type="text/css">
    <link rel="stylesheet" href="../css/facebook.css" type="text/css">

  	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/1.1.0/svg.min.js"></script>
    <script type="text/javascript" src="../lib/jquery.connectingLine.js"></script>

    <script src="../js/apiFacade.js"></script>
    <script src="../js/facebook.js"></script>
    <script src="../js/helper.js"></script>
    <script src="../js/bubbleView.js"></script>
    <script src="../js/bubble.js"></script>
    <script src="../js/connectionView.js"></script>
    <script src="../js/board.js"></script>
<body id="board">
<button id="fb" class="login"></button>
<script>
  var fbUser;

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1642565209312684',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.2' // use version 2.2
    });

    FB.getLoginStatus(function(response) {
      getUser(response, fbUser);
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "http://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  document.getElementById('fb').addEventListener('click', function (e) {
    FB.login(function (response) {
      getUser(response, fbUser);
      console.log(fbUser.access_token);
    }, {scope: 'public_profile,email'});  
  });
</script>
</body>
</html>
