<!DOCTYPE html>
<html>
  <head>
    <title>I N K L I N G</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/board.css">

  	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/svg.js/1.1.0/svg.min.js"></script>
    <script type="text/javascript" src="../lib/jquery.connectingLine.js"></script>

    <script src="../lib/Three.js"></script>
    <script src="../js/presentation/sphere.js"></script>
    <script src="../js/presentation/nav.js"></script>

    <script src="../js/net/facebook.js"></script>
    <script src="../js/net/apiFacade.js"></script>

    <script src="../js/Board/Board.js"></script>
    <script src="../js/Board/bubbleHandlers.js"></script>
    <script src="../js/Board/connectionHandlers.js"></script>
    <script src="../js/Bubble/Bubble.js"></script>
    <script src="../js/Bubble/eventHandlers.js"></script>
    <script src="../js/Bubble/bubbleView.js"></script>
    <script src="../js/Connection/Connection.js"></script>
    <script src="../js/Connection/connectionView.js"></script>

    <script src="../js/eventHandlers.js"></script>
    <script src="../js/boardMain.js"></script>
  </head>

  <body id="board">
    <audio id='Drone' src='../sound/Drone.mp3'></audio>

    <nav>
      <a href="" id="menuToggle" title="show menu">
        <span class="navClosed"><i>show menu</i></span>
      </a>
      <a id="logoutButton" class="image1" title="Item 1">Logout</a>
      <a class="playButton">Play Music</a>
      <a class="stopButton">Pause Music</a>
    </nav>

    <div id="trashcan"><img src="../images/trash.png" height="80 px" alt="trashcan"></div>

      <h3 class="logoTitle">INKLING<span style="color:red">.</span></h3>
      <img class="puzzle" src="//cdn3.iconfinder.com/data/icons/brain-games/1042/Puzzle-grey.png" width="40cm" height="40cm">
      <p class="copyright">&copy; 2015 inkling.space</p>
  </body>
</html>
