<!DOCTYPE html>
<html>
  <head>
    <title>Mind Map</title>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="./../css/board.css" type="text/css">

  	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/1.1.0/svg.min.js"></script>
    <script type="text/javascript" src="./../lib/jquery.connectingLine.js"></script>

    <script src="./../js/facebook.js"></script>
    <script src="./../js/helper.js"></script>
    <script src="./../js/bubbleView.js"></script>
    <script src="./../js/bubble.js"></script>
    <script src="./../js/connectionView.js"></script>
    <script src="./../js/board.js"></script>
<body id="board">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1642565209312684',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.2' // use version 2.2
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };
</script>
<script>
document.getElementByClass('fbLogin').addEventListener('click', function (e) {
  FB.login(function (response) {
    
  }, {scope: 'public_profile,email'});  
});
</script>
<button class="fbLogin"></button>
<!--<fb:login-button autologoutlink="true" size="large" scope="public_profile,email" onlogin="getAccessToken();"></fb:login-button>-->
</body>
</html>
