#board {
  font-family: monospace;
  background-color: lightpink;
  margin: 0;
  padding: 0;
  position: relative;
}



.bubble {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #A269DB;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
  border-radius: 50%;
  background: radial-gradient(circle at 33% 33%, #5cabff, #000);
}

.bubble .header {
  text-align: center;
  padding: 2px;
  min-height: 20px;
}

.bubble .header:hover {
  color: white;
}

/*.bubble .header a{
    margin-left: auto;
    margin-right: auto;
}*/

.bubble .header a, .bubble .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.bubble .footer a {
  color: black;
  text-decoration: none;
}

.bubble .content {
  padding: 20px;
  height: 70px;
  outline: none;
  overflow: hidden;
}

.bubble .footer {
  text-align: center;
  padding: 2px;
  margin-top: -10px;
  min-height: 20px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0px;
  min-width: 100%;
}


